* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr min(68ch, 100%) 1fr;
    padding: 5px;
    margin: 18px 0;
}
body > * {
    grid-column: 2;
}
.header {
    grid-column: 2 / 3;
    height: 85px;
}
h1, .range > p {
    text-align: center;
    color: #525257;
    margin-top: 10px;
}

.main-continer {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.control-continer {
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
}

.range {
    border: 1px solid #525257;
    height: 70px;
    border-radius: 2px;
    text-align: center;
    padding: 5px 0;
    background-color: buttonface;
}

.lienzo-continer {
    display: grid;
    border: 3px solid #525257;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.black {
    background-color: black;
}
input[type="color"] {
    width: 128px;
    height: 70px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #525257;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 20px;
    height: 20px; 
    background: #525257; 
    border-radius: 50%; 
    cursor: pointer; 
}


@media (max-width: 566px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: grid;
        grid-template-columns: 1fr min(49ch, 100%) 1fr;
        
    }
    body > * {
        grid-column: 2;
    }
    .header {
        grid-column: 2 / 3;
        height: 85px;
    }
    h1 {
        text-align: center;
        margin: 20px auto;
    }
    .main-continer {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .control-continer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 67px 67px;
        height: 139px;
        gap: 5px;
        margin: 2px 0;
    }

    .lienzo-continer {
        display: grid;
        border: 3px solid #525257;
        width: 400px;
        height: 400px;
    }
    input[type="color"] {
        width: 128px;
        height: 70px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin: 0;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        background: #525257;
        border-radius: 5px;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; 
        width: 20px;
        height: 20px; 
        background: #525257; 
        border-radius: 50%; 
        cursor: pointer; 
    }
}